/*Universal Styles*/
#body-container {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black; /*Only applies to entire background web page; not to be confused with applying black to every element*/
  opacity: 0.9;
  text-align: center;
}
/*Universal Styles END*/


/*Navigation*/
.header-nav {
  position: fixed;
  height: 69px;
  width: 99%;
  /*border-bottom: 1px solid seashell;*/
  background-color: black;
  border: 1px solid seashell;
  z-index: 2;
}

.logo-nav {
  float: left;
  width: 175px;
  padding: 5px 25px;
}

.nav {
list-style: none;
}

.nav span {
  display: inline-flex;
  float: right;
  margin-right: 30px;
  /*border: 1px solid white;*/
}

a:link {
  color: seashell;
}
/*Navigation END*/


/*Mission*/
#mission {
  background-image: url("../img/mission-bg.jpg");

  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  padding-top: 15%; /*Takes care of the h2 and h4 elements in the container; acts funny if I style it elsewhere.*/
  z-index: 1;
  /*border: 1px solid white;*/
}

#mission-container {
  background-color: black;
}

#mission-container h2 {
  padding-top: 10px;
}

#mission-container h4 {
  padding-bottom: 10px;
}
/*Mission END*/


/*Featured Tea*/
#featured {
  width: 1000px;
  /*border: 1px solid white;*/
  margin: 0 auto;
}

#featured-list {
  display: flex;
  flex-wrap: wrap;
  /*margin: 0 auto;*/
  justify-content: center;
  justify-content: space-around;
}

.featured-container {
  /*border: 1px solid white;*/
}

.featured-container img {
  width: 300px;
  height: 200px;
}

.featured-container h4 {
}

.myrtle {
  margin-left: 170px;
}

.bedford {
  margin-right: 170px;
}
/*Featured Tea END*/


/*Locations*/
#locations {
  height: 500px;
  /*border: 1px solid white;*/
  background-image: url("../img/locations-bg.jpg");
  background-size: auto 795px;
  background-repeat: no-repeat;
  background-position: center;
}

#locations h2 {
  position: relative;
  top: 93px; /*108px is where the both borders touch, so minus by 15px to get the pixel location.*/
}

#locations-list {
  display: flex;
  justify-content: center;
  margin-top: 100px; /* just eye-balled the location container since other options aren't working with my limited skills.*/
}

.location-container {
  width: 300px;
  background-color: black;
  /*border: 1px solid white;*/
}

.downtown {
  margin-right: 40px;
}

.east-bayside {

}

.oakdale {
  margin-left: 40px;
}
/*Location END*/
